body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #163a24;
}

.container {
  max-width: 1210px;
  margin-inline: auto;
  padding-inline: 15px;
}

.button {
  padding: 15px 25px;
  border: none;
  border-radius: 160px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.button--link {
  padding: 0;
  border-radius: 0;
  color: #fbfaf7;
}

.button--primary {
  color: #fbfaf7;
  background-color: #198c36;
}

.button--secondary {
  color: #163a24;
  background-color: #fab5a0;
}

.heading {
  margin: 0;
  font-family: "Recoleta", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.12;
}

.heading--medium {
  font-size: 28px;
}
