section.started
  .container.started__container
    h2.heading.started__title Get Started With Clerksy
    p.started__description Make sure your business puts people first.
    a.button.button--secondary(href='#!') Book a Free Discovery Call
