section.subscription
  .container.subscription__container
    .subscription__content
      h2.heading.subscription__title Stay up to date!
      p.subscription__description Sign up for the latest Clerksy news.

    .subscription__form
      include ../form/form
      p.subscription__form-text.
        By submitting your email you agree to receive updates about Clerksy. You can
        unsubscribe at any time. View our full #[a.link(href='#!') Privacy Policy]
