@use "../../scss/mixins/breakpoints" as *;

.hero {
  color: var(--tc-light);
  background-image: url("../images/decor/hero_decor-bg.svg");
  background-position-x: calc(50% + 310px);
  background-position-y: bottom;
  background-size: 738px auto;
  background-repeat: no-repeat;
  background-color: var(--bgc-secondary);

  @include laptop {
    background-position-x: calc(50% + 250px);
  }

  @include tablet-big {
    background-size: 548px auto;
  }

  @include tablet {
    background-position-x: center;
    background-size: 458px auto;
  }

  &__container {
    display: flex;
    align-items: center;

    @include tablet {
      justify-content: center;
    }
  }

  &__content {
    max-width: 476px;
    padding-block: 154px;

    @include tablet-big {
      padding-block: 90px 124px;
    }

    @include tablet {
      max-width: 500px;
      text-align: center;
      padding-block: 60px 364px;
    }
  }

  &__title {
    margin-bottom: 18px;
    line-height: 1.36;
  }

  &__description {
    margin-bottom: 0;

    @include tablet-big {
      max-width: 370px;
    }

    @include tablet {
      max-width: 100%;
    }
  }
}
