section.hero
  .container.hero__container
    .hero__content
      h1.heading.hero__title Running the show has never been so easy
      p.hero__description
        | Ready to put the human back in HR? Clerksy helps you set the stage with an
        | inclusive and compliant workplace.
