@use "../../styles/helpers" as *;

.advantages {
  color: var(--tc-light);
  background-color: var(--bgc-secondary);
  padding-block: rem(66) rem(120);

  @include mobile-small {
    padding-block: rem(60);
  }

  &__title {
    margin-bottom: rem(72);
    text-align: center;

    @include mobile-small {
      margin-bottom: rem(52);
    }
  }
}
