ul.advantages-list
  li.advantages-list__item.advantages-list__item--educates
    p.advantages-list__description Educates & Informs
    p.advantages-list__description Employee Expectations

  li.advantages-list__item.advantages-list__item--protects
    p.advantages-list__description Protects Your Business
    p.advantages-list__description Just in Case

  li.advantages-list__item.advantages-list__item--manages
    p.advantages-list__description Manages & Stores
    p.advantages-list__description Important Documents

  li.advantages-list__item.advantages-list__item--create
    p.advantages-list__description Create a Healthy
    p.advantages-list__description Work Environment
