.advantages-list {
  display: grid;
  column-gap: 40px;
  grid-template-columns: repeat(4, 1fr);

  &__item {
    position: relative;
    padding-top: 188px;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 160px;
      background-position: center top;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--educates::before {
      background-image: url("../images/advantages/educates.svg");
    }

    &--protects::before {
      background-image: url("../images/advantages/protects.svg");
    }

    &--manages::before {
      background-image: url("../images/advantages/manages.svg");
    }

    &--create::before {
      background-image: url("../images/advantages/create.svg");
    }
  }

  &__description {
    margin-bottom: 0;
  }
}
