:root {
  // Fonts
  --font-primary: "NotoSans", sans-serif;
  --font-secondary: "Recoleta", sans-serif;

  // Base colors
  --color-dark: #000;
  --color-light: #fff;

  // Text colors
  --tc-primary: #163a24;
  --tc-light: #fafafa;

  // Background
  --bgc-primary: #fff;
  --bgc-secondary: #163a24;
}
