:root {
  // Fonts
  --font-primary: "NotoSans", sans-serif;
  --font-secondary: "Recoleta", sans-serif;

  // Base colors
  --color-dark: #000;
  --color-light: #fff;
  --color-accent: #d32830;

  // Text colors
  --tc-primary: #163a24;
  --tc-secondary: #3f3e4d;

  // Background
  --bgc-primary: ##fafafa;
}
