@use "../../scss/mixins/breakpoints" as *;

.employees {
  background-color: #f2efe6;
  padding-block: 120px;

  @include tablet {
    padding-block: 60px;
  }

  &__head {
    max-width: 760px;
    margin-inline: auto;
  }

  &__title {
    margin-bottom: 27px;
    text-align: center;
  }

  &__description {
    margin-bottom: 40px;
    text-align: center;
  }
}
