section.employees
  .container
    .employees__head
      h2.heading.employees__title
        | Employees come in all shapes and sizes. Find the right fit
      p.employees__description
        | Focus on casting and screening. Let Clerksy handle contracts, resolve any on
        | set-conflicts and make sure you are compliant with work and safety boards.

    img.employees__image(src='images/decor/employees-image.svg' width='1180' height='335' alt='' aria-hidden='true')
