section.feature
  h2.sr-only Our advantage
  .container.container--narrow
    .feature__grid
      .feature__row
        .feature__image
          img(src='images/decor/1.svg' width='492' height='510' alt='' aria-hidden='true' loading="lazy")

        .feature__content
          h3.heading.feature__subtitle Put the human back in HR
          p.feature__description
            | Your employees are the real stars. Show the love and help them perform!

      .feature__row.feature__row--reverse
        .feature__image
          img(src='images/decor/2.svg' width='492' height='423' alt='' aria-hidden='true' loading="lazy")

        .feature__content
          h3.heading.feature__subtitle
            | You don’t have to play all the parts.
          p.feature__description
            | Sales, accounting, HR — Oh My! You can’t do it all - let Clerksy help.
