extends ../pug/layouts/base

block variables
  - var pageTitle = "Clerksy";
  - var pageDescription = "Clerksy description";

block content
  include ../components/hero/hero
  include ../components/feature/feature
  include ../components/partners/partners
  include ../components/advantages/advantages
  include ../components/employees/employees
  include ../components/scenes/scenes
  include ../components/interest/interest
  include ../components/steps/steps
  include ../components/book/book
  include ../components/started/started
  include ../components/subscription/subscription
