@use "../../scss/mixins/breakpoints" as *;

.steps {
  background-color: var(--tc-light);
  padding-block: 120px;

  @include laptop {
    padding-block: 60px;
  }

  &__title {
    margin-bottom: 26px;
    text-align: center;
  }

  &__description {
    margin-bottom: 40px;
    text-align: center;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
