section.steps
  .container
    h2.heading.steps__title It&apos;s easy as 1, 2, 3
    p.steps__description
      | Clerksy can help use your unique business needs. Here&apos;s how:
    .steps__list
      include ./steps-list
    .steps__button
      button.button.button--primary(type='button')
        | Book Free Discovery Call
