ol.steps-list
  li.steps-list__item
    p.steps-list__text
      | Fill out a form and tell us what you&apos;re looking for:
    span.steps-list__caption.heading.heading--medium 5 minutes

  li.steps-list__item
    p.steps-list__text
      | Time it will take a Clerksy rep to follow up:
    span.steps-list__caption.heading.heading--medium 24 hours

  li.steps-list__item
    p.steps-list__text
      | Take advantage of our monthly plans starting at:
    span.steps-list__caption.heading.heading--medium $969 USD
