@use "../../scss/mixins/breakpoints" as *;

.header {
  color: var(--tc-light);
  background-color: var(--bgc-secondary);
  padding-block: 20px;

  &__container,
  &__user-actions {
    display: flex;
    align-items: center;
  }

  &__container {
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__user-actions {
    column-gap: 24px;

    @include mobile {
      justify-content: space-evenly;
    }
  }
}
