@use "../../styles/helpers" as *;

.partners {
  padding-block: rem(80) rem(120);

  @include mobile {
    padding-block: rem(30) rem(60);
  }

  &__title {
    margin-bottom: rem(66);
    text-align: center;

    @include mobile {
      margin-bottom: rem(30);
    }
  }
}
