ul.partners-list
  li.partners-list__item
    img.partners-list__image(srcset='images/partners/stripe@2x.png 2x' src='images/partners/stripe.png' width='110' height='51' alt='Stripe')
  li.partners-list__item
    img.partners-list__image(srcset='images/partners/google@2x.png 2x' src='images/partners/google.png' width='110' height='36' alt='Google')
  li.partners-list__item
    img.partners-list__image(srcset='images/partners/notion@2x.png 2x' src='images/partners/notion.png' width='110' height='59' alt='Notion')
  li.partners-list__item
    img.partners-list__image(srcset='images/partners/gusto@2x.png 2x' src='images/partners/gusto.png' width='110' height='45' alt='Gusto')
  li.partners-list__item
    img.partners-list__image(srcset='images/partners/aircall@2x.png 2x' src='images/partners/aircall.png' width='110' height='37' alt='Aircall')
