@use "../../scss/mixins/breakpoints" as *;

.partners-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 896px;
  gap: 20px;
  margin-inline: auto;

  @include tablet {
    justify-content: space-evenly;
  }
}
