ul.partners-list
  li.partners-list__item
    picture.partners-list__image
      source(srcset="images/partners/stripe.avif 1x, images/partners/stripe@2x.avif 2x" type="image/avif")
      source(srcset="images/partners/stripe.webp 1x, images/partners/stripe@2x.webp 2x" type="image/webp")
      img(src="images/partners/stripe.png" srcset="images/partners/stripe@2x.png 2x" width="110" height="51" alt="Stripe")

  li.partners-list__item
    picture.partners-list__image
      source(srcset="images/partners/google.avif 1x, images/partners/google@2x.avif 2x" type="image/avif")
      source(srcset="images/partners/google.webp 1x, images/partners/google@2x.webp 2x" type="image/webp")
      img(src="images/partners/google.png" srcset="images/partners/google@2x.png 2x" width="110" height="36" alt="Google")

  li.partners-list__item
    picture.partners-list__image
      source(srcset="images/partners/notion.avif 1x, images/partners/notion@2x.avif 2x" type="image/avif")
      source(srcset="images/partners/notion.webp 1x, images/partners/notion@2x.webp 2x" type="image/webp")
      img(src="images/partners/notion.png" srcset="images/partners/notion@2x.png 2x" width="110" height="59" alt="Notion")

  li.partners-list__item
    picture.partners-list__image
      source(srcset="images/partners/gusto.avif 1x, images/partners/gusto@2x.avif 2x" type="image/avif")
      source(srcset="images/partners/gusto.webp 1x, images/partners/gusto@2x.webp 2x" type="image/webp")
      img(src="images/partners/gusto.png" srcset="images/partners/gusto@2x.png 2x" width="110" height="45" alt="Gusto")

  li.partners-list__item
    picture.partners-list__image
      source(srcset="images/partners/aircall.avif 1x, images/partners/aircall@2x.avif 2x" type="image/avif")
      source(srcset="images/partners/aircall.webp 1x, images/partners/aircall@2x.webp 2x" type="image/webp")
      img(src="images/partners/aircall.png" srcset="images/partners/aircall@2x.png 2x" width="110" height="37" alt="Aircall")
