@use "../../scss/mixins/breakpoints" as *;

.sublist {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  &__item {
    display: flex;
    column-gap: 11px;
    align-items: center;
    font-size: 16px;
  }

  &__item::before {
    content: "";
    display: block;
    flex-shrink: 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: var(--bgc-secondary);
  }

  &__item p {
    margin-bottom: 0;

    @include tablet-big {
      font-size: 14px;
    }

    @include tablet {
      font-size: 16px;
    }
  }
}
