section.scenes
  .container.container--narrow.scenes__container
    .scenes__content
      h2.heading.scenes__title How the scenes fit together
      p.scenes__description
        | Employee Training & Development, Diversity & Inclusion Programs, and Conflict Resolution.
