.scenes {
  padding-block: 60px;

  &__container {
    display: flex;
    align-items: center;
    min-height: 424px;
    max-width: 984px;
    background-image: url("../images/decor/scenes_decor-bg.svg");
    background-position: right 15px center;
    background-size: 492px auto;
    background-repeat: no-repeat;
  }

  &__content {
    max-width: 394px;
  }

  &__title {
    margin-bottom: 27px;
  }

  &__description {
    margin-bottom: 0;
  }
}
