@use "../../scss/mixins/breakpoints" as *;

.book {
  padding-block: 120px;

  @include tablet-big {
    padding-block: 60px;
  }

  &__grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: minmax(200px, 394px) minmax(260px, 490px);
    gap: 40px;

    @include tablet {
      gap: 20px;
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  &__row--content {
    align-self: center;

    @include tablet-big {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 25px;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__image-box {
    display: flex;
    align-items: center;
    height: 488px;
    background-image: url("../images/decor/vector.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-inline: 19%;

    @include tablet {
      height: 378px;
    }

    @include mobile {
      justify-content: center;
      height: auto;
      padding-block: 30px;
    }
  }
}
